<% if flash[:notice] %>
<div id="error_explanation">
	<%=flash[:notice]%>
</div>
<% end %>
<% if @people.size>0 %><br />
<h3>Mostrando <%= pluralize(@people.count, @type_person)%> </h3>
<table>
	<tr>
		<th>Usuario</th>
		<th>Nombre Completo</th>
		<th>Sexo</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% @people.each do |person| %>
	<tr>
		<td><%= person.user.email %></td>
		<td><%= "#{person.name} #{person.last_name}" %></td>
		<td><%= person.sex %></td>
		<% show = image_tag("show.png", :alt => "Show User", :height => '25', :width => '25') %>
		<td><%= link_to show, person, :id => "show" %></td>

		<% if @type_person.eql? "Patient" %>
			<% edit = image_tag("edit.png", :alt => "Edit User", :height => '25', :width => '25') %>
			<td><%= link_to edit, edit_person_path(person), :id => "edit" %></td>
		<% end %>

		<% if @type_person.eql? "Patient" %>
			<% cross = image_tag("cancel.png", :alt => "Destroy User", :height => '25', :width => '25') %>
			<td><%= link_to cross, person, :confirm => 'Are you sure?', :method => :delete, :id => "cross" %></td>
		<% end %>

		<% if @type_person.eql? "Doctor" %>
			<% schedule = image_tag("schedule.png", :alt => "Schedule", :height => '25', :width => '25') %>
			<td><%= link_to schedule , new_appointment_with_doctor_path(person.id), :id => "schedule" %></td>
		<% end %>
	</tr>
	<% end %>
</table>
<% else %>
<h3><%=pluralize(@people.count,@type_person)%> found</h3>
<% end %>