<p id="notice"><%= notice %></p>

<p>
  <b>Nombre completo:</b>
  <%= "#{@person.name}  #{@person.last_name}" %>
</p>

<p>
  <b>Sexo:</b>
  <%= @person.sex %>
</p>

<p>
  <b>Ciudad:</b>
  <%= @person.city %>
</p>
<% if @person.type_person.eql? "Admin" %>
<p>
  <b>Direccion:</b>
  <%= @person.address %>
</p>
<% end %>
<p>
  <b>Rol:</b>
  <%= @person.type_person %>
</p>

<%= button_group do %>

  <%= arrowleft_pill_button_link_to "Volver", type_people_path(@person.type_person)  %>

  <% if @person.type_person.eql? "Administrar" %>
  <%= edit_pill_button_link_to "Editar", edit_person_path(@person) %>
  <% end %>

<% end %>